.CalendarComponent {
  text-align: center;
  margin-top: 4rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.event-icons {
  color: var(--color-text);
  font-size: 1.3rem;
  margin-bottom: 1px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.add-event-alert {
  max-width: 400px !important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
