#container {
  width: 100%;
  background-color: var(--color-bg);
  min-height: 100vh;
}
.unableNav{
  display: none !important;
}
.no-margin{
  margin: 0 !important;
}
#container{
  color: var(--color-text) ;
}
.container-admin{
  display: flex !important;
  width: 100%;
}
.admin-content{
  width: 100%;
  flex-grow: 1;
}

.resultats-title{
  font-size: 20px;
  text-align: left;
  padding: 0px 3px 5px;
  color: var(--color-text);
  font-weight: 700;
}
.resultats{
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-text-light);
}
@media (min-width: 200px) and (max-width: 499px) {
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #nav-box {
    position: fixed !important;
    bottom: 0;
    width: 100% !important;
    height: 3.6rem;
    border-radius: 1rem 1rem 0 0;
    z-index: 1000;
  }
}

@media screen and (min-width: 500px) and (max-width: 1005px) {
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #nav-box {
    width: 80%;
    padding-right: 1rem;
    justify-content: right;
  }
}

@media screen and (min-width: 1005px) and (max-width: 1281px){
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}